@tailwind base;
@tailwind components;
@tailwind utilities;


.images-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.image {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.carousel .control-dots .dot {
  padding: 0px;
}

.imageSlide {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
/*=====SAP======*/
.Image-Slider{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  height : 100%;
  background-color: #F1E5D8;
  
}
.carousel .slider-wrapper .slide {
  
  height: 80vh;
}
.carousel .slider-wrapper .slide img {
  max-height: 100%;
  width: auto;
}
.sliderImage{
  margin : 0 auto;
  height : 100%;
  width : auto;
}
@media only screen and (max-width: 1200px) {
  .carousel {
    height: 90vh;
  }
  .carousel .slider-wrapper .slide img {
    margin: 10vh auto;
    width: auto ;
  }
  .carousel .thumbs-wrapper{
    height: 20vh;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel {
    height: 100vh;
  }
}
@media only screen and (max-width: 900px) {
  .carousel {
    height: 100vh;
  }
}
@media only screen and (max-width: 750px) {
  .carousel {
    height: 100vh;
  }
  
}
@media only screen and (max-width: 650px) {
  .carousel {
    height: 60vh;
  }
}
@media only screen and (max-width: 500px) {
  .carousel {
    height: 50vh;
  }
  .carousel .thumbs-wrapper{
    height: 20vh;
  }
}
